<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Employees</li>
      <li><a href="{% url 'app_worker:list_all' %}">List</a></li>
      <li><a href="{% url 'app_department:department' %}">Department</a></li>
      <li><a href="{% url 'app_worker:manage' %}">Manage</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
        <li><input type="search" placeholder="Search"></li>
        <li><button type="button" class="button">Register</button></li>
    </ul>


  </div>
</div>