{% extends "base.html" %}

{% block title %}
    Department
{% endblock title %}

{% block content %}
{% include "includes/header.html" %}
<div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <h1>Departmentos de la empresa</h1>
            </div>
            <div class="cell">
                <table>
                    <tbody>
                        {% for department in object_list %}
                        <tr>
                            <td>{{department.name}}</td>
                            <td>{{department.short_name}}</td>
                            <td>
                                <a href=" {% url 'app_department:bydepartment' department.short_name %} " class="button">Show employees</a>
                            </td>
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>

            </div>

        </div>
    </div>
{% endblock content %}

