{% extends "base.html" %}

{% block title %}
Update
{% endblock title %}


{% block content %}
{% include "includes/header.html" %}
<div class="grid-container">
    <div class="grid-x">
        <div class="cell">
            <h1>Actualizar informacion</h1>
        </div>
        <div class="cell">
            <form  method="post"> {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="button">Update</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}


